@import "tailwindcss";
@plugin "daisyui";
a.active{
  text-decoration: underline;
  text-decoration-color: yellow
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #090909;
}
